extends layout.pug 

block content 
    .container.pt-5
        .row.justify-content-center
            .col.col-xs-12.col-md-10.col-lg-9
                .card.shadow
                    .card-header.bg-primary.text-white
                        h1.display-4.text-center Please Sign In!
                    .card-body
                        h2.text-center Hold Up! 
                        h3.text-center
                            span You must be signed in to edit or delete contacts. 
                            br
                            span Please return to the home page or to the login page.  